/* Global styles */
html,
body {
  font-family: var(--font-mono);
  max-width: 100vw;
  overflow-x: hidden;
}

/* Container styles */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom,
    rgb(var(--tile-end-rgb)),
    rgb(var(--tile-start-rgb))
  );
  border: 1px solid rgb(var(--tile-border));
  color: rgb(var(--foreground-rgb));
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.button:hover {
  background: linear-gradient(
    to bottom,
    rgb(var(--tile-start-rgb)),
    rgb(var(--tile-end-rgb))
  );
}

.button--primary {
  background: var(--primary-glow);
  border: none;
  color: rgb(var(--callout-rgb));
}

.button--primary:hover {
  background: var(--secondary-glow);
}

/* Card styles */
.card {
  background: linear-gradient(
    to bottom,
    rgb(var(--card-rgb)),
    rgb(var(--card-rgb))
  );
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--card-border-rgb));
  padding: 1rem;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: rgb(var(--callout-rgb));
}

.card__description {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--foreground-rgb));
}

/* Callout styles */
.callout {
  background: linear-gradient(
    to bottom,
    rgb(var(--callout-rgb)),
    rgb(var(--callout-rgb))
  );
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--callout-border-rgb));
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.callout__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(var(--foreground-rgb));
}

.callout__description {
  font-size: 1.125rem;
  line-height: 1.5;
  color: rgb(var(--foreground-rgb));
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

 .button {
    background: linear-gradient(
      to bottom,
      rgb(var(--tile-end-rgb)),
      rgb(var(--tile-start-rgb))
    );
    border: 1px solid rgb(var(--tile-border));
    color: rgb(var(--foreground-rgb));
  }

 .button--primary {
    background: var(--primary-glow);
    border: none;
    color: rgb(var(--callout-rgb));
  }

 .card {
    background: linear-gradient(
      to bottom,
      rgb(var(--card-rgb)),
      rgb(var(--card-rgb))
    );
    border: 1px solid rgb(var(--card-border-rgb));
  }

 .callout {
    background: linear-gradient(
      to bottom,
      rgb(var(--callout-rgb)),
      rgb(var(--callout-rgb))
    );
    border: 1px solid rgb(var(--callout-border-rgb));
  }
}